# Opcional: o código já possui os valores do projeto Supabase configurados.
VITE_SUPABASE_URL=https://clqfylxbmjccwxoxntsb.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_hU9tqYZoml7dUWrn48tJ6w_gQAOmpPV
